---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/routes
    body:
      encoding: US-ASCII
      string: expression=match_recipient%28%27test%40<MAILGUN_DOMAIN>%27%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Route has been created",
          "route": {
            "actions": [],
            "created_at": "Fri, 02 Dec 2022 13:58:45 GMT",
            "description": "",
            "expression": "match_recipient('test@<MAILGUN_DOMAIN>')",
            "id": "638a0495e0ad85dbb09cd9dd",
            "priority": 0
          }
        }
  recorded_at: Fri, 02 Dec 2022 13:58:45 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/routes/638a0495e0ad85dbb09cd9dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "638a0495e0ad85dbb09cd9dd",
          "message": "Route has been deleted"
        }
  recorded_at: Fri, 02 Dec 2022 13:58:45 GMT
recorded_with: VCR 6.1.0
