---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: US-ASCII
      string: address=list%40<MAILGUN_DOMAIN>
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "readonly",
            "address": "list@<MAILGUN_DOMAIN>",
            "created_at": "Wed, 23 Nov 2022 03:51:01 -0000",
            "description": "",
            "members_count": 0,
            "name": "",
            "reply_preference": "list"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Wed, 23 Nov 2022 03:51:01 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists/list@<MAILGUN_DOMAIN>/members
    body:
      encoding: US-ASCII
      string: address=member%40<MAILGUN_DOMAIN>
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "member": {
            "address": "member@<MAILGUN_DOMAIN>",
            "name": "",
            "subscribed": true,
            "vars": {}
          },
          "message": "Mailing list member has been created"
        }
  recorded_at: Wed, 23 Nov 2022 03:51:01 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/list@<MAILGUN_DOMAIN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "list@<MAILGUN_DOMAIN>",
          "message": "Mailing list has been removed"
        }
  recorded_at: Wed, 23 Nov 2022 03:51:01 GMT
recorded_with: VCR 6.1.0
