---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/lists
    body:
      encoding: US-ASCII
      string: address=test%40<MAILGUN_DOMAIN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "readonly",
            "address": "test@<MAILGUN_DOMAIN>",
            "created_at": "Thu, 15 Dec 2022 18:57:53 -0000",
            "description": "",
            "members_count": 0,
            "name": "",
            "reply_preference": "list"
          },
          "message": "Mailing list has been created"
        }
  recorded_at: Thu, 15 Dec 2022 18:57:53 GMT
- request:
    method: put
    uri: https://api.mailgun.net/v3/lists/test@<MAILGUN_DOMAIN>
    body:
      encoding: US-ASCII
      string: name=new+name
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "list": {
            "access_level": "readonly",
            "address": "test@<MAILGUN_DOMAIN>",
            "created_at": "Thu, 15 Dec 2022 18:57:53 -0000",
            "description": "",
            "members_count": 0,
            "name": "new name",
            "reply_preference": "list"
          },
          "message": "Mailing list has been updated"
        }
  recorded_at: Thu, 15 Dec 2022 18:57:53 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v3/lists/test@<MAILGUN_DOMAIN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "address": "test@<MAILGUN_DOMAIN>",
          "message": "Mailing list has been removed"
        }
  recorded_at: Thu, 15 Dec 2022 18:57:54 GMT
recorded_with: VCR 6.1.0
