---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v2/<%= domain %>/bounces
    body:
      encoding: US-ASCII
      string: address=test%40example.com&code=554&error=Relay+access+denied
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Address has been added to the bounces table\",
        \n  \"address\": \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 07:24:08 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/bounces/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"bounce\": {\n    \"code\": \"554\",\n    \"created_at\": \"Sat,
        02 Jun 2012 07:24:08 GMT\",\n    \"error\": \"Relay access denied\",\n    \"address\":
        \"test@example.com\"\n  }\n}"
  recorded_at: Sat, 02 Jun 2012 07:24:33 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/bounces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 1,\n  \"items\": [\n    {\n      \"code\":
        \"554\",\n      \"created_at\": \"Sat, 02 Jun 2012 07:24:08 GMT\",\n      \"error\":
        \"Relay access denied\",\n      \"address\": \"test@example.com\"\n    }\n
        \ ]\n}"
  recorded_at: Sat, 02 Jun 2012 07:25:45 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v2/<%= domain %>/bounces/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Bounced address has been removed\", \n  \"address\":
        \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 07:26:15 GMT
recorded_with: VCR 2.2.0
