---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v2/<%= domain %>/campaigns
    body:
      encoding: US-ASCII
      string: name=Test&id=test
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"message": "Campaign created", "campaign": {"clicked_count": 0,
        "opened_count": 0, "submitted_count": 0, "unsubscribed_count": 0, "bounced_count":
        0, "id": "test", "name": "Test", "created_at": "Sun, 03 Jun 2012 07:28:25
        GMT", "delivered_count": 0, "complained_count": 0, "dropped_count": 0}}'
  recorded_at: Sun, 03 Jun 2012 07:28:25 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v2/<%= domain %>/campaigns/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Campaign deleted\", \n  \"id\": \"test\"\n}"
  recorded_at: Sun, 03 Jun 2012 07:35:40 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/campaigns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 1, \n  \"items\": [\n    {\n      \"clicked_count\":
        0, \n      \"opened_count\": 0, \n      \"submitted_count\": 0, \n      \"unsubscribed_count\":
        0, \n      \"bounced_count\": 0, \n      \"id\": \"8ben\", \n      \"name\":
        \"Test\", \n      \"created_at\": \"Sun, 03 Jun 2012 07:36:36 GMT\", \n      \"delivered_count\":
        0, \n      \"complained_count\": 0, \n      \"dropped_count\": 0\n    }\n
        \ ]\n}"
  recorded_at: Sun, 03 Jun 2012 07:38:43 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/campaigns/8ben/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"total": {"complained": 0, "delivered": 0, "clicked": 0, "opened":
        0, "dropped": 0, "bounced": 0, "sent": 0, "unsubscribed": 0}, "unique": {"clicked":
        {"recipient": 0, "link": 0}, "opened": {"recipient": 0}}}'
  recorded_at: Sun, 03 Jun 2012 09:21:23 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/campaigns/8ben/complaints?groupby=domain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Sun, 03 Jun 2012 09:35:54 GMT
recorded_with: VCR 2.2.0
