---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v2/<%= domain %>/complaints
    body:
      encoding: US-ASCII
      string: address=test%40example.com
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Address has been added to the complaints table\",\n
        \ \"address\": \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 06:55:56 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/complaints/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"complaint\": {\n    \"count\": 1,\n    \"created_at\": \"Sat,
        02 Jun 2012 06:55:56 GMT\",\n    \"address\": \"test@example.com\"\n  }\n}"
  recorded_at: Sat, 02 Jun 2012 06:56:33 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 1,\n  \"items\": [\n    {\n      \"count\":
        1,\n      \"created_at\": \"Sat, 02 Jun 2012 06:55:56 GMT\",\n      \"address\":
        \"test@example.com\"\n    }\n  ]\n}"
  recorded_at: Sat, 02 Jun 2012 07:10:16 GMT
- request:
    method: delete
    uri: https://api.mailgun.net/v2/<%= domain %>/complaints/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Spam complaint has been removed\",\n  \"address\":
        \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 07:11:04 GMT
recorded_with: VCR 2.2.0
