---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v2/lists
    body:
      encoding: US-ASCII
      string: address=newsletter%40pewpew.mailgun.org&description=Weekly+News+and+Updates&name=Newsletter
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Mailing list has been created\",\n  \"list\":
        {\n    \"created_at\": \"Mon, 04 Jun 2012 16:56:58 GMT\",\n    \"description\":
        \"Weekly News and Updates\",\n    \"members_count\": 0,\n    \"name\": \"Newsletter\",\n
        \   \"address\": \"newsletter@pewpew.mailgun.org\"\n  }\n}"
  recorded_at: Mon, 04 Jun 2012 16:56:58 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/lists/newsletter@pewpew.mailgun.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"list\": {\n    \"created_at\": \"Mon, 04 Jun 2012 16:56:58
        GMT\",\n    \"description\": \"Weekly News and Updates\",\n    \"members_count\":
        0,\n    \"name\": \"Newsletter\",\n    \"address\": \"newsletter@pewpew.mailgun.org\"\n
        \ }\n}"
  recorded_at: Mon, 04 Jun 2012 17:00:55 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"items\": [\n    {\n      \"created_at\": \"Mon, 04 Jun 2012
        16:56:58 GMT\",\n      \"description\": \"Weekly News and Updates\",\n      \"members_count\":
        0,\n      \"name\": \"Newsletter\",\n      \"address\": \"newsletter@pewpew.mailgun.org\"\n
        \   }\n  ],\n  \"total_count\": 1\n}"
  recorded_at: Mon, 04 Jun 2012 17:01:11 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v2/lists/newsletter@pewpew.mailgun.org/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"unique\": {\n    \"clicked\": {\n      \"recipient\": 0,\n
        \     \"link\": 0\n    },\n    \"opened\": {\n      \"recipient\": 0\n    }\n
        \ },\n  \"total\": {\n    \"complained\": 0,\n    \"delivered\": 0,\n    \"clicked\":
        0,\n    \"opened\": 0,\n    \"unsubscribed\": 0,\n    \"bounced\": 0,\n    \"dropped\":
        0\n  }\n}"
  recorded_at: Mon, 04 Jun 2012 17:10:01 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v2/lists/newsletter@pewpew.mailgun.org/members
    body:
      encoding: US-ASCII
      string: address=member%40example.com&name=Member+Name&vars=%7B%22awesome%22%3Atrue%7D
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"member\": {\n    \"subscribed\": true,\n    \"name\": \"Member
        Name\",\n    \"vars\": {\n      \"awesome\": true\n    },\n    \"address\":
        \"member@example.com\"\n  },\n  \"message\": \"Mailing list member has been
        created\"\n}"
  recorded_at: Mon, 04 Jun 2012 17:28:47 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/lists/newsletter@pewpew.mailgun.org/members/member@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"member\": {\n    \"subscribed\": true,\n    \"name\": \"Member
        Name\",\n    \"vars\": {\n      \"awesome\": true\n    },\n    \"address\":
        \"member@example.com\"\n  }\n}"
  recorded_at: Mon, 04 Jun 2012 17:52:02 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v2/lists/newsletter@pewpew.mailgun.org/members/member@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"member\": {\n    \"address\": \"member@example.com\"\n  },\n
        \ \"message\": \"Mailing list member has been deleted\"\n}"
  recorded_at: Mon, 04 Jun 2012 18:00:59 GMT
recorded_with: VCR 2.2.0
