---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/log
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 27,\n  \"items\": [\n    {\n      \"hap\":
        \"delivered\",\n      \"created_at\": \"Fri, 01 Jun 2012 04:19:04 GMT\",\n
        \     \"message\": \"Delivered:  postmaster@pewpew.mailgun.org \\u2192 pewpew@devoh.com
        'Test'\",\n      \"type\": \"info\",\n      \"message_id\": \"4fc84273c474_48dd3fe70cc34cd05949d@rouge.local.mail\"\n
        \   },\n    {\n      \"hap\": \"delivered\",\n      \"created_at\": \"Fri,
        01 Jun 2012 04:18:13 GMT\",\n      \"message\": \"Delivered:  postmaster@pewpew.mailgun.org
        \\u2192 pewpew@devoh.com 'Test'\",\n      \"type\": \"info\",\n      \"message_id\":
        \"4fc84273c474_48dd3fe70cc34cd05949d@rouge.local.mail\"\n    },\n    {\n      \"hap\":
        \"delivered\",\n      \"created_at\": \"Fri, 01 Jun 2012 04:17[...]
