---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/mailboxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 1, \n  \"items\": [\n    {\n      \"size_bytes\":
        null, \n      \"created_at\": \"Mon, 21 May 2012 22:12:54 GMT\", \n      \"mailbox\":
        \"postmaster@pewpew.mailgun.org\"\n    }\n  ]\n}"
  recorded_at: Fri, 01 Jun 2012 19:42:48 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v2/<%= domain %>/mailboxes
    body:
      encoding: US-ASCII
      string: mailbox=test&password=secret
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Created 1 mailboxes\"\n}"
  recorded_at: Fri, 01 Jun 2012 19:46:55 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v2/<%= domain %>/mailboxes/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Mailbox has been deleted\", \n  \"spec\": \"test@pewpew.mailgun.org\"\n}"
  recorded_at: Fri, 01 Jun 2012 19:47:51 GMT
recorded_with: VCR 2.2.0
