---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0wMm45ZjNpamw5c205dTk3LThwN3ItZDctMTVxLXVpMQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 0,\n  \"items\": []\n}"
  recorded_at: Fri, 01 Jun 2012 05:02:37 GMT
- request:
    method: post
    uri: https://api.mailgun.net/v2/routes
    body:
      encoding: US-ASCII
      string: priority=1&description=Forward+Gmail&expression=match_recipient%28%27.%2A%40gmail.com%27%29&action=forward%28%27gmail%40example.com%27%29
    headers:
      Authorization:
      - Basic YXBpOmtleS0wMm45ZjNpamw5c205dTk3LThwN3ItZDctMTVxLXVpMQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Route has been created\",\n  \"route\": {\n    \"description\":
        \"Forward Gmail\",\n    \"created_at\": \"Fri, 01 Jun 2012 05:15:52 GMT\",\n
        \   \"actions\": [\n      \"forward('gmail@example.com')\"\n    ],\n    \"priority\":
        1,\n    \"expression\": \"match_recipient('.*@gmail.com')\",\n    \"id\":
        \"4fc850083533542f7704bc05\"\n  }\n}"
  recorded_at: Fri, 01 Jun 2012 05:15:59 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v2/routes/4fc850083533542f7704bc05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0wMm45ZjNpamw5c205dTk3LThwN3ItZDctMTVxLXVpMQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"route\": {\n    \"description\": \"Forward Gmail\",\n    \"created_at\":
        \"Fri, 01 Jun 2012 05:15:52 GMT\",\n    \"actions\": [\n      \"forward('gmail@example.com')\"\n
        \   ],\n    \"priority\": 1,\n    \"expression\": \"match_recipient('.*@gmail.com')\",\n
        \   \"id\": \"4fc850083533542f7704bc05\"\n  }\n}"
  recorded_at: Fri, 01 Jun 2012 05:19:37 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v2/routes/4fc854bd9d12a36fc504d4b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS0wMm45ZjNpamw5c205dTk3LThwN3ItZDctMTVxLXVpMQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Route has been deleted\",\n  \"id\": \"4fc854bd9d12a36fc504d4b3\"\n}"
  recorded_at: Fri, 01 Jun 2012 05:44:01 GMT
recorded_with: VCR 2.2.0
