---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 10, \n  \"items\": [\n    {\n      \"total_count\":
        11, \n      \"created_at\": \"Fri, 01 Jun 2012 00:00:00 GMT\", \n      \"tags\":
        {}, \n      \"id\": \"4fc837558393c1618263d76c\", \n      \"event\": \"sent\"\n
        \   }, \n    {\n      \"total_count\": 11, \n      \"created_at\": \"Fri,
        01 Jun 2012 00:00:00 GMT\", \n      \"tags\": {}, \n      \"id\": \"4fc837568393c1618263d76d\",
        \n      \"event\": \"delivered\"\n    }, \n    {\n      \"total_count\": 6,
        \n      \"created_at\": \"Tue, 29 May 2012 00:00:00 GMT\", \n      \"tags\":
        {}, \n      \"id\": \"4fc55a2e8393c161826132b5\", \n      \"event\": \"sent\"\n
        \   }, \n    {\n      \"total_count\"[...]
