---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v2/<%= domain %>/unsubscribes
    body:
      encoding: US-ASCII
      string: address=test%40example.com&tag=newsletter
    headers:
      Authorization:
      - Basic <%= basic_auth %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Address has been added to the unsubscribes table\",
        \n  \"address\": \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 02:53:29 GMT
[...]
- request:
    method: get
    uri: https://api.mailgun.net/v2/<%= domain %>/unsubscribes/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_count\": 2,\n  \"items\": [\n    {\n      \"created_at\":
        \"Sat, 02 Jun 2012 02:54:37 GMT\",\n      \"tag\": \"*\",\n      \"id\": \"4fc9806d8393c1618264c360\",\n
        \     \"address\": \"test@example.com\"\n    },\n    {\n      \"created_at\":
        \"Sat, 02 Jun 2012 02:53:29 GMT\",\n      \"tag\": \"newsletter\",\n      \"id\":
        \"4fc980298393c1618264c34d\",\n      \"address\": \"test@example.com\"\n    }\n
        \ ]\n}"
  recorded_at: Sat, 02 Jun 2012 02:55:33 GMT
[...]
- request:
    method: delete
    uri: https://api.mailgun.net/v2/<%= domain %>/unsubscribes/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <%= basic_auth %>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      content-disposition:
      - inline
    body:
      encoding: US-ASCII
      string: ! "{\n  \"message\": \"Unsubscribe event has been removed\",\n  \"address\":
        \"test@example.com\"\n}"
  recorded_at: Sat, 02 Jun 2012 02:59:52 GMT
recorded_with: VCR 2.2.0
