---
http_interactions:
- request:
    method: post
    uri: https://api.mailgun.net/v3/<MAILGUN_DOMAIN>/messages
    body:
      encoding: US-ASCII
      string: from=test%40<MAILGUN_DOMAIN>&to=test%40<MAILGUN_DOMAIN>&text=Text+body.
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '4000000'
      X-Ratelimit-Remaining:
      - '3999999'
      X-Ratelimit-Reset:
      - '1669210560973'
      X-Recipient-Limit:
      - '2000000'
      X-Recipient-Remaining:
      - '1999999'
      X-Recipient-Reset:
      - '1669210560973'
    body:
      encoding: UTF-8
      string: '{"id":"<20221123133550.67210002656b5cb4@<MAILGUN_DOMAIN>>","message":"Queued.
        Thank you."}

        '
  recorded_at: Wed, 23 Nov 2022 13:35:51 GMT
recorded_with: VCR 6.1.0
